*{
    margin: 0;
    padding-top:0px;
    box-sizing: border-box;
}
:root{
    --light:#5fd4d898;
    --dark:hwb(0 2% 89% / 0.375);
    --theme:#80dce6;
    --vlight:#73ddd85a;
}
body{
    background-color: var(--vlight);
    line-height:1.5em;
    width:100vw;
}
.pic {
    border-radius: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--theme);
    width:100vw;
}
.header .name{
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.header h1{
    font-size: 50px;
}
.About{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.About h1{
    text-align: center;
}
.About p {
    padding-top: 20px;
    font-size: 20px;
}
.skills_box {
    text-align: center;
}
.skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
}
.skills div{
    margin:10px;
    font-size: 1.2em;
}
.certification{
    padding-top: 50px;
    padding-bottom: 50px;
}
.certification h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.certificates{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.c2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark);
}
.footer_box{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer_box img{
    border-radius: 20%;
    margin: 10px;
}
